/* 
    Document   : dropdown
    Created on : Apr 26, 2018, 7:17:38 PM
    Author     : saru
    Description:
        Purpose of the stylesheet follows.
*/
#submit
{
    width: 100px;
    border: 2px solid black;
    height:50px;
    border-radius: 10px;
    position: relative;
    top:-20px;
}
root { 
    display: block;
}





.match
{
    margin-top: 20px;
    width: 250px;
    margin-bottom: 40px;
    
    
}

.heading
{
   border-radius: 5px;
    padding: 20px;
    width: 200px;
    border: 2px solid black;
    background-color: rgba(216, 64, 33, 0.99);
    
}
.container
{
    padding-top: 60px;
    
    height: auto;
    background-color:rgba(42, 130, 7, 0.7);
    padding-bottom: 10px;
}

.drop{
   
    margin-top:-21px;
    padding-top:10px;
    height: 30px;
    
}
.part1
{
    margin-top: 10px;
    padding-top: 30px;
    
    width: 100%;
    border-radius: 35px;
    
}

