/* 
    Document   : intro
    Created on : Jul 30, 2018, 11:01:17 AM
    Author     : saru
    Description:
        Purpose of the stylesheet follows.
*/

#top
{
    background-color: rgb(21, 150, 150,0.9);
    padding: 20px;
    border: 2px dotted black;
    font-size: 20px;
    color: wheat;
}
root { 
    display: block;
}

.steps li:nth-last-child(odd)
{
  
  margin: 10px 50px 10px 20px ;
  list-style-type: none;
  background-color: whitesmoke;
  
  padding: 5px 0px 5px 0px;
  border-radius: 20px;
  font-size: 18px;
    padding: 20px;
    
  
    
}
.steps li:nth-last-child(even)
{
  
  margin-right: 20px;
  list-style-type: none;
  background-color: lightgray;
  
  padding: 20px;
  border-radius: 20px;
  font-size: 18px;
  
    
}
span h3{
    padding: 20px;
    color: wheat;
    background-color: rgb(21, 150, 150,0.7);
    height: 20px;
    width: 300px;
    border: 3px solid black;
  
}
.steps span
{
    background-color: rgba(0,0,0,0.4);
    padding: 10px 10px 10px 15px;
    border-radius: 20px;
    color: white;
    margin: 10px;
}
